body {
  margin: 0 auto;
  background-color: #A9F5A9;
  /* height: 100%; */
}

.nav {
  background-color: #088A08;
  line-height: 50px;
}

.navbar-brand {
  font-family: 'Passion One', cursive;
  margin: 0;
  color: #fff;
  font-size: 2em;
  line-height: 50px;
}

.logo-head {
  color: #FE2E2E;
  margin-left:10px;
}
ul li {
  color:#fff;
}

.img-responsive {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

main {
  margin-top: 75px;
  margin-bottom: 90px;
}

main .container {
  background-color: #A9F5A9;
}

.img {
  height: 500px;
  margin-bottom: 20px;
  background: 
    radial-gradient(ellipse at center, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,1) 100%)
    ,url(../images/park21-1.png);;
  background-size: cover;
  background-attachment: fixed;
}

h2.title {
  /* border-bottom: 10px solid #CEF6EC; */
  border: 5px solid #CEF6EC;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 20px;
  /* box-shadow: 5px 5px; */
  background-color: #CEF6EC;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

main h2 {
  color: #ffffff;
  font-family: 'M PLUS 1p', sans-serif;
  /* padding: 20px;
  margin-bottom: 0px; */
}

#greeting .card {
  max-width: 350px;
  background-color: #CEF6EC;
}

.card-heading {
  color: red;
}

.card-body {
  color: #088A08;
}

table {
  max-width: 500px;
  margin: 0 auto;
  color: #088A08;
}

.comment {
  max-width: 500px;
  margin: 0 auto;
}

.content {
  border: 5px solid #CEF6EC;
  border-radius: 20px;
  /* box-shadow: 5px 5px; */
  max-width: 800px;
  margin: 0 auto;
  padding-top: 10px;
}
#greeting p {
  color: #088A08;
  font-weight: bold;
  color: red;
}

#service li {
  color: #088A08;
}

#service img {
  max-width: 250px;
  max-height: 250px;
}

#service p {
  text-align: center;
  width: 350px;
}

#service ul {
  max-width: 250px;
  margin: 0 auto;
}

#service ul li {
  background-color: #CEF6EC;
}

#access table {
  margin: 0 auto;
}

#access table td {
  font-size: 20px;
  text-align: center;
}
main p {
  color: #088A08;
}

div.map {
  /* text-align: center; */
  position: relative;
  padding-bottom: 75%; // これが縦横比
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 98% !important;
  height: 98% !important;
  margin: auto;
}

footer {
  background-color: #088A08;
  color: #E0F8F7;
  height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  line-height: 50px;
  
}

footer p span {
  color: red;
  font-size: 22px;
}

@media(max-width:700px) {
  footer p {
    font-size: 12px;
  }
  footer p span {
    font-size: 14px;
  }  
}

 .content > .container {
  max-width: 500px;
  margin: 0 auto;
}

input#name, input#kana {
  width: 50%;
}

.message {
  margin-top: 200px;
  padding-top: 100px;
}

.message h5 {
  margin-top: 50px;
  color: red;
}