body {
  margin: 0 auto;
  background-color: #A9F5A9;
  /* height: 100%; */
}

.nav {
  background-color: #088A08;
  line-height: 50px;
}

.navbar-brand {
  font-family: 'Passion One', cursive;
  margin: 0;
  color: #fff;
  font-size: 2em;
  line-height: 50px;
}

.logo-head {
  color: #FE2E2E;
  margin-left:10px;
}
ul li {
  color:#fff;
}

.img-responsive {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

main {
  margin-top: 70px;
  margin-bottom: 90px;
}

main .container {
  background-color: #A9F5A9;
}

section {
  border: 5px solid #CEF6EC;
  border-radius: 20px;
  box-shadow: 5px 5px;
}
main h2 {
  color: #ffffff;
  font-family: 'M PLUS 1p', sans-serif;
  padding: 20px;
  margin-bottom: 0px;
}

.card {
  max-width: 350px;
  background-color: #CEF6EC;
}

.card-heading {
  color: red;
}

.card-body {
  color: #088A08;
}

table {
  max-width: 500px;
  margin: 0 auto;
  color: #088A08;
}

#greeting, #service, #access, #contact {
  max-width: 800px;
  margin: 0 auto;
}
#greeting p {
  color: #088A08;
  font-weight: bold;
  color: red;
}

#service li {
  color: #088A08;
}

#service img {
  max-width: 250px;
  max-height: 250px;
}

#service p {
  text-align: center;
  width: 350px;
}

#service ul {
  max-width: 250px;
  margin: 0 auto;
}

#service ul li {
  background-color: #CEF6EC;
}

#access table {
  margin: 0 auto;
}

#access table td {
  font-size: 20px;
  text-align: center;
}
main p {
  color: #088A08;
}

div.map {
  text-align: center;
  position: relative;
  padding-bottom: 75%; // これが縦横比
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

footer {
  background-color: #088A08;
  color: #E0F8F7;
  height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  line-height: 50px;
  
}

footer p span {
  color: red;
  font-size: 22px;
}

@media(max-width:700px) {
  footer p {
    font-size: 12px;
  }
  footer p span {
    font-size: 14px;
  }  
}

#contact > .container {
  max-width: 500px;
  margin: 0 auto;
}

input#name, input#kana {
  width: 50%;
}
